<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  Score: <input type="text" id="score" value="0" readonly> Lives: <input type="text" id="lives" value="3" readonly> Ammo: <input type="test" id="ammo" value="5" readonly><br/>
  <div style="width: 20px; height: 20px; background-color: aqua;" id="flag"></div><br/>
  <div id="container"></div>
</body>
</html>
